body {
    background-image: url(../img/fondoN.png);    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    z-index: 100;
}

.d-item {
    height: 600px;
}

.d-img {
    height: 100%;
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
    background-color: white;
}

.row {
    background-color: transparent; /* Asegúrate de que las filas no tengan color */
}

footer {
    background: #f1f1f1; /* Color de fondo del footer */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado dentro del footer */
}

main.container {
    background-color: white !important;
    padding: 20px;
    border-radius: 5px;
}